@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SchoolBusRegistration.Core.ViewModels.TransportRequestFormViewModel
@{
    ViewData["Title"] = "Transport Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Transport Request</h3>
@using(Html.BeginForm("Create", "TransportRequests", FormMethod.Post))
{
    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <h4>Transport Details</h4>
    <div>
        @Html.LabelFor(m => m.TransportType)
    @Html.DropDownListFor(m => m.TransportType, new SelectList(Model.TransportTypes, "Key", "Value"), "Select Transport Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TransportType, "", new { @class = "text-danger" })
    </div>
    <div>
    @Html.LabelFor(m => m.StartDate)
    @Html.EditorFor(m => m.StartDate, new { @class = "form-control" }) 
    @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
    </div>

    <h4>Parent Details</h4>
    <div>
        @Html.LabelFor(m => m.ParentName)
        @Html.TextBoxFor(m => m.ParentName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ParentName, "", new { @class = "text-danger" })
</div>

<div>
    @Html.LabelFor(m => m.EmailAddress)
    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
</div>

<div>
@Html.LabelFor(m => m.PhoneNumber)
    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
</div>

<div>
    @Html.LabelFor(m => m.IdentityNumber)
    @Html.TextBoxFor(m => m.IdentityNumber, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdentityNumber, "", new { @class = "text-danger" })
</div>

<div>
    @Html.LabelFor(m => m.Address)
    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
</div>
    
<h4>Child details</h4>
<div>
@Html.LabelFor(m => m.ChildName)
    @Html.TextBoxFor(m => m.ChildName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ChildName, "", new { @class = "text-danger" })
</div>
<div>
    @Html.LabelFor(m => m.Age)
    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
</div>
<div>
    @Html.LabelFor(m => m.GradeId)
    @Html.DropDownListFor(m => m.GradeId, new SelectList(Model.Grades, "Id", "Title"), "Select Grade", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.GradeId, "", new { @class = "text-danger" })
</div>
    <input type="submit" class="btn btn-default" value="Submit" />

}